p img {
  padding: 4px;
  background: #efefef;
}

article .solo img {
  max-width: 400px;
}

a:link {
  color: #1976d2;
  text-decoration: none;
}

a:visited {
  color: #1976d2;
}

a:hover {
  color: #77b2ed;
}

a:active {
  color: #77b2ed;
}

.footnotes {
  margin-top: 2.5em;
}
