img {
  padding: 4px;
  margin-bottom: 4px;
  background: #efefef;
}

article {
  img.solo {
    max-width: 400px
  }

  a {
    &:link {
      color: #1976d2;
      text-decoration: none;
    }

    &:visited {
      color: #1976d2;
    }

    &:hover {
      color: #77b2ed;
    }

    &:active {
      color: #77b2ed;
    }
  }
}

.footnotes {
  margin-top: 2.5em;
}
